{% extends "header.html" %} {% block body %}
<style type="text/css">


</style>
<h1 style="text-align: center; color: white">You can donate through any of the options below, thanks :).</h1>
<br>

<dl class="row">
  <dl class="row">
  <dt class="col-sm-3"><p style="color: white;">Bitcoin</p></dt>
  <dd class="col-sm-9"><p style="color: white;">1Hkmv6w19GDWgXDt5snKZBUBqsGkzAoLcq</p></dd>

  <dt class="col-sm-3"><p style="color: white;">Ethereum</p></dt>
  <dd class="col-sm-9"><p style="color: white;">0x2654839e6406D077dEb2e0807A56A63f6e2a0928</p></dd>

  <dt class="col-sm-3"><p style="color: white;">Paypal</p></dt>
  <dd class="col-sm-9"><p style="color: white;" id="email"></p></dd>
</dl>

<script type="text/javascript">
  document.getElementById("email").innerHTML = "as" + "tri" + "ke30[AT]" + "gmail.c" + "om";
</script>

{% endblock %}