<!DOCTYPE html>
<html>
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134675029-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134675029-1');
  </script>     

 <meta charset="utf-8">
 <title>Your VPN</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="shortcut icon" href="/static/favicon.ico">
 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<header>
  <nav class="navbar navbar-dark" style="background-color: #202a2f;">
    <a href="/"><span class="navbar-brand mb-0 h1" style="color: #41ef3b">Your VPN</span></a>
    <div>
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a href="/FAQ"><button class="btn btn-primary" type="button" style="display: inline;">FAQ</button></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<style type="text/css">
    main{
        padding: 2%;
    }
</style>

<body style="background-color: #202020;">
   <main>{% block body %}{% endblock %}</main>

   <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>
