{% extends "header.html" %} {% block body %}
<div>
    <h1 style="color: white; font-size: 5em" align="center">Ensure your privacy. <br>Setup your own VPN.</h1>
    <br>
    <div style="width: 25%; height: 10%; margin: auto;">
        <a href="/setup"><button type="button" class="btn btn-secondary btn-lg btn-block" style="margin: auto">Setup Now</button></a>
    </div>
    <br>
    <div>
        <h3 style="color: white; font-weight: lighter;">VPN providers can't be trusted. The free ones are open about invading your privacy and selling your data (and they're slow). While the paid ones promise not not to sell your data, it's easy and profitable for them to do so. Running your own VPN on an independent hosting provider's network is the best option. While hosting companies could still sell your data, it doesn't align with their business model and they likely do not have the tools setup to do so. And with prices starting at $1.99, it's the cheapest option too.</h3>
    </div>
        
</div>



{% endblock %}