{% extends "header.html" %} {% block body %}
<h4 style="margin: auto; color: white">All of the following providers are reputable, however doing your own research is recommended.</h4>
<br>
<div class="card-deck">
    <div class="card">
      <div class="card-body">
        <a href="scaleway.com"><h5 class="card-title">Scaleway</h5></a>
        <h5 class="card-title">$1.99 per month</h5>
        <p class="card-text"><sup>*</sup>Max speed is 100mbps.</p>
        <a href="#" class="btn btn-outline-primary">Choose</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="linode.com"><h5 class="card-title">Linode</h5></a>
        <h5 class="card-title">$5 per month</h5>
        <p class="card-text">⠀</p>
        <a href="/linode-oauth-begin" class="btn btn-outline-primary">Choose</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <a href="scaleway.com"><h5 class="card-title">Digital Ocean</h5></a>
        <h5 class="card-title">$5 per month</h5>
        <p class="card-text">⠀</p>
        <a href="#" class="btn btn-outline-primary">Choose</a>
      </div>
    </div>
</div>
<br>
<h4 style="color: white; font-weight: lighter;">When you click Choose, you will be prompted to login or create and account at the Host. You may have to enter payment information, this is handled completely by the host.</h4>

{% endblock %}