{% extends "header.html" %} {% block body %}
<h1 style="color: white;" align="center">You have successfully created the VPN.</h1>
<h3 style="color: white; font-weight: lighter;">A file ending in .ovpn has been downloaded. Open this file in an OpenVPN client for your operating system to connect to the internet through your new VPN.</h3>
<br>
<button type="submit" class="btn btn-lg btn-danger" style="margin: auto; display: block">Pls Donate, I make no money from this :)</button>

<a href="mailto:astrike30@gmail.com"><div style="min-width: 60%; min-height: 30%; margin: auto; display: block; margin-top: 5%; padding-top: 10px; padding-bottom: 10px; border-style: dashed; border-color: #41ef3b">

  <a href="mailto:astrike30@gmail.com"><h3 style="color: white; text-align: center;">Advertise here to a tech-savvy audience for really cheap.</h3></a>

</div></a>

<script type="text/javascript">
    function download() {
      var form = document.createElement('form');
      form.method = "post"
      form.action = "download"

      var input = document.createElement('input')
      input.type = "hidden"
      input.name = "file"
      input.value = "{{token}}"

      form.appendChild(input)

      form.style.display = 'none';

      document.body.appendChild(form);

      form.submit();

      document.body.removeChild(form);
    }

// Start file download.
    download();
</script>
{% endblock %}